@import '~antd/lib/style/themes/default.less';
.table {
    margin-bottom: 16px;
    .tableAlert {
        margin-bottom: 16px;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .delete,
    .duplicate,
    .quote,
    .printer,
    .update {
        font-size: 20px;
        cursor: pointer;
    }
    .delete {
        color: #ff4d4f;
    }
    .update {
        color: @primary-color;
    }
    .printer {
        color: @primary-color;
    }
    .quote {
        color: #888888;
    }
}

.check {
    color: @warning-color;
}
.process {
    color: @info-color;
}
.rejected {
    color: @error-color;
}
.accepted {
    color: @success-color;
    // color: @state-accepted;
}
.expired {
    color: @highlight-color;
}
.close {
    color: @highlight-color;
}
