@import '../../../config/app';

.header{
    button{
        margin-bottom: 16px;
        margin-right: 16px;
    }
}

// states color
.check{
    box-shadow: 0 3px  $state-check inset;
}
.process{
    box-shadow: 0 3px $state-process inset;
}
.rejected{
    box-shadow: 0 3px  $state-rejected inset;
}
.accepted{
    box-shadow: 0 3px  $state-accepted inset;
    color: $state-accepted;
}
.expired{
    box-shadow: 0 3px  $state-close inset;
}
.close{
    box-shadow: 0 3px  $state-close inset;
}